.skills-area:is(.skills-dark-area) {
    background-color: #16171b;
}



.skills-dark-area .border-bottom {
    border-bottom: 2px solid #1d2022 !important;
}

.skill-info {
    margin-top: -10px;
}

.font-size {
    font-family: "Space Grotesk", sans-serif;
    margin-top: 0px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 48px;
}

.skills-dark-area .skill-info p {
    color: #7e828c;
}

.blog-btn:is(.textwhite) {
    background-color: #42a66c;
}

.blog-btn {
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    padding: 0 35px;
    color: #fff;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    border-radius: 5px;
    transition: 0.3s;
}

.i-right i {
    margin-left: 10px;
    transform: translateY(1px);
}





.mb-50 {
    margin-bottom: 50px;
}

.skill-progress-single span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    font-family: "Space Grotesk";
}

.skill-progress-single span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    font-family: "Space Grotesk";
}

.progress-value {
    float: right;
}

.progress:is(.skill-progress) {
    margin-top: 10px;
    height: 4px;
    background-color: #f1f1f1;
}

.progress-bar:is(.theme-3) {
    background-color: #42a66c;
}

/* mobile media queiye 425px */

@media (max-width: 767px) {
    .skills-area:is(.pt-30) {
        padding-top: 40px;
    }

    .skill-wrapper:is(.pb-100) {
        padding-bottom: 90px;
    }

    .skill-info:is(.mb-30) {
        margin-top: -5px;
        margin-bottom: 50px;
    }

    .title-text {
        font-size: 25px;
    }

    br {
        display: none;
    }

    .skill-item-wrapper:is(.mb-30) {
        margin-bottom: 0px;
    }
}